# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg
app/frontend/node_modules/
app/backend/__pycache__/
app/backend/*.pyc
app/__pycache__/


# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data / large files  (store in Google Drive, not git)
data/
*.npy
*.wav
*.mp3
*.flac

# Weights
weights/
*.h5

# Env
.env
venv/
.venv/
tf_venv/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
